<p id="notice"><%= notice %></p>

<p>
  <%= @pin.description %>
</p>

<div>
  <%= image_tag @pin.pin_image.url(:medium)%>
</div>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
